body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width : 420px;
    padding-top: 100px;
}

.square{
    margin: 5px;
    color: white;
    background-color: rgb(143, 197, 143);
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 2em;
    cursor: pointer;
    transition: all 2s ease;
}

.squareClicked{
    margin: 15px;
    color: white;
    background-color: rgb(207, 86, 78);
    height: 180px;
    width: 180px;
    text-align: center;
    line-height: 180px;
    font-size: 2em;
    cursor: pointer;
    transform:  rotate(360deg);
}